.all-border {
    border-radius: 15px;
}

.first-number {
    background-color: aqua;
    color: DarkCyan;
}

.second-number {
    background-color: aqua;
    color: DarkCyan;
}

.math-sign {
    background-color: CadetBlue;
    color: DarkSlateGrey;
}

.font-size-number {
    font-size: 25px;
}

table {
    background-color: Gainsboro;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.success-result-color {
    background-color: green;
}

.fail-result-color {
    background-color: red;
}

.init-result-color {
    background-color: light-gray;
}

.margins-number {
    margin: 0 10px 0 10px
}

.margins-sign {
    margin: 0 10px 0 10px
}

.alignClass {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 300px;
}

.inner-button {
    margin-left: -50px;
    height: 35px;
}

.input-result-class {
    width: 100px;
    height: 30px;
    font-size: 16px;
    padding: 0 0 0 7px;
}

.digit-pad-cell {
    width: 40px;
    height: 20px;
    background-color: aqua;
    color: DarkCyan;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

.digit-pad-cell:hover {
    color: DarkBlue;
    background-color: CornflowerBlue;
}

.remove-char-element {
    background-color: darkturquoise;
}

.check-button-from-pad {
    background-color: teal;
    color: beige;
}